
    #container{ background-color:rgba(211, 97, 97, 0.575);
            
           
            border: 1px;
          display: flex;
    flex-flow:row wrap;
       
          
          
   
 }
 
 
 .boite{ background-color : rgb(192, 176, 212) ;
       
       
         width: 49%;
         margin: 6px;
         height: 350px;
         border: 2px;
         column-span: 1 ;
         font-size: 20px;
            
 }
h1{
text-align: center;
}
p button{
  font-size: 15px;
  border-radius: 10px;
  background-color: red;


}
  
 
p button:hover {
  cursor: pointer;
  background-color:black;
  background-image: radial-gradient(red top left rgb(255,25,65), rgb(145,26,36),rgb(785,565,14))

}


.butoCenter{
 display: flex;
 flex-flow: wrap;
 padding-bottom: 250px;
 text-align: center;
  


}
  




.buton{

    padding-left: 150px;
   
    
   }

/* deplace bouton */







/* .bot{
  padding-right: 40px;
} */

/* .fem{
padding-left: 40px;
  
} */
   /* deplace temperature humidite */
.deplace{
  padding-left: 25px;
  
}

a{

     text-decoration: none;
     color: white;

}

hr{

  width: 400px;
 border:1px solid black ;
}